<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\dell\recover\layout\style.css">
    <script src="https://kit.fontawesome.com/71fa6fa637.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <h2>header section</h2>
        <nav>
            <ul>
            <li><a href="" alt="">Link1</a></li>
            <li><a href="" alt="">Link2</a></li>
            <li><a href="" alt="">Link3</a></li>
            <li><a id="d1" href="" alt="">Link4</a></li>
        </ul>
        </nav>
    </header>
    <main>
        <section>
              <h2>Title Heading</h2>
              <p>title description</p>
              <img src="https://dummyimage.com/1000x200/f0d3f0/fff.jpg" alt="photo"> 
              <p>demo text</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </section> 

        <article>
                <h2>Title Heading</h2>
                <p>title description</p>
                <img src="https://dummyimage.com/1000x200/f0d3f0/fff.jpg" alt="photo">
                <p>demo text</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </article>
        <aside>
            <h2>About Me</h2>
            <img src="https://dummyimage.com/500x200/f0d3f0/fff.jpg" alt="photo">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </aside>

    </main>
    <footer>
        <p>Footer</p>
        <a href="https://www.facebook.com/Dua.alsafasfeh" class="fa-brands fa-facebook-square"></a>
        <a href="https://instagram.com/duaalsafasfeh?utm_medium=copy_link" class="fa-brands fa-instagram-square"></a>
        <a href="https://www.linkedin.com/in/du-a-alsafasfeh-70a9a7147" class="fa-brands fa-linkedin"></a>
        <a href="https://www.twitter.com" class="fa-brands fa-twitter-square"></a>
    </footer>
</body>
</html>