*{
    box-sizing: border-box;
}
header h2{
    text-align: center;
}
nav{
    background-color: bisque;
}
ul{
    position: relative;
}
li{
    display: inline;
}
#d1{
    position: absolute;
    right: 20px;

}
a{
    text-decoration: none;
}
section p{
    width: 1000px;
}
article p{
    width: 1000px;
}
aside{
    position: relative;
    left: 68%;
    bottom: 825px;
}
aside p{
    width: 500px;
}
footer{
    text-align: center;
    font-size: x-large;
    background-color: antiquewhite;
}